*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

h1{
    margin: 10px;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
}
.container img{
    margin: 1rem;
    max-width: 50rem;
}