*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
    background-color: rgb(39, 13, 63);
}
.load{
    position: relative;
    height: 4rem;
    width: 4rem;
}

.load::after, 
.load::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
    animation: rotateA 2s linear infinite 0.5s;
}


.load::before{
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
}
@keyframes rotateA{
    0%, 25%{
        transform: rotate(0deg)
    }
    50%, 75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateB {
    0%, 25%{
        transform: rotate(180deg)
    }
    50%, 75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(540deg);
    }
}