
* {
    margin: 0;
    padding: 0;

}

body{
    background-color: lightgray;
}

.qr-design{
    text-align: center;
    align-items: center;



}

.images img{
    display: flex;
    margin-left: 45vw;
    margin-top: 20vh;
    border-radius:5%;
    max-width: 30vw;
    max-height:30vh;
}

.second-back

.text-of-qr{

}

h1 {
    font-size: 20px;
}

p {

    font-size: 15px;
}

.attribution{
    margin-top: 20vh;
    margin-left: 75vw;
}