*{
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

.bg{
    background: url('https://s3.bmp.ovh/imgs/2022/09/01/26eafd0a48cd7b8f.jpg')
    no-repeat center center/cover;
    width: calc(100vw + 50px);
    height: calc(100vh + 50px);
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -20px;
    filter: blur(0px);
    
}

.text{
    font-size: 5rem;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}